.showArticles {
  display: block;
  text-decoration: underline;
  text-decoration-color: var(--accent-cl);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 3px;
  margin-bottom: 32px;
  cursor: pointer;
}

.showArticles input {
  opacity: 1;
  visibility: hidden;
}
