.allArticlesList {
  display: grid;
  gap: 24px;
  margin-bottom: 32px;
  interpolate-size: allow-keywords;
}

.allArticlesList a {
  display: block;
  margin-bottom: 8px;
  color: var(--txt-main);
}

.allArticlesList {
  @media (hover: hover) {
    & > li:has(a:hover) {
      background-color: var(--bg-hover);
      transition: all 250ms ease-in-out;
    }
  }
}

.allArticlesList span {
  display: block;
  color: var(--txt-additional);
}

.allArticlesList span:has(+ p) {
  margin-bottom: 8px;
}

.allArticlesList li:nth-child(5) ~ li {
  height: auto;
  opacity: 1;
  transition:
    height 250ms ease-in-out,
    opacity 250ms ease-in-out,
    display 249ms allow-discrete ease-in-out;

  @starting-style {
    height: 0;
    opacity: 0;
  }
}

.allArticlesList:not(:has(+ label > input:checked)):has(+ label) li:nth-child(5) ~ li {
  display: none;
  height: 0;
  opacity: 0;
  transition:
    height 250ms ease-in-out,
    opacity 150ms ease-in-out,
    display 250ms allow-discrete ease-in-out;
}

.allArticlesList p {
  color: var(--txt-additional);
}
