.allArticlesList {
  display: grid;
  gap: 24px;
  margin-bottom: 32px;
  interpolate-size: allow-keywords;
}

.allArticlesList a {
  display: block;
  margin-bottom: 8px;
  color: var(--txt-main);
}

.allArticlesList span {
  color: var(--txt-additional);
}

.allArticlesList li:nth-child(5) ~ li {
  height: auto;
  opacity: 1;
  transition: height 250ms ease-in-out, opacity 250ms ease-in-out,
    display 249ms allow-discrete ease-in-out;

  @starting-style {
    height: 0;
    opacity: 0;
  }
}

.allArticlesList:not(:has(+ label > input:checked)) li:nth-child(5) ~ li {
  display: none;
  height: 0;
  opacity: 0;
  transition: height 250ms ease-in-out, opacity 150ms ease-in-out,display 250ms allow-discrete ease-in-out;
}
