.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--bor-cl);
  background-color: var(--bg-main);
  cursor: pointer;
}

.themeSwitcher svg {
  position: absolute;
}
.themeSwitcher input {
  opacity: 0;
}
