


.navBlock[data-mobile="false"]{
display: none;
gap: 24px;    

@media (min-width: 640px) {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

}

.activeLink {
  color: var(--txt-active);

  @media (min-width: 640px) {
  color: inherit;  
  text-decoration: underline;
  text-decoration-color: var(--accent-cl);  
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
  }
  }

.navBlock[data-mobile="true"][data-show="false"] {
display: none;
}

.navBlock[data-mobile="true"] {
  display: grid;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid var(--bor-cl);
  padding: 12px;
  background-color: var(--bg-extra);
  box-shadow: var(--popup-shadow);
  interpolate-size: allow-keywords;
  color: var(--txt-additional);
 
}

.navBlock[data-mobile="true"] a:not(:last-child) {
  padding-bottom: 6px;
  border-bottom: 1px solid var(--bor-cl);
}

.navBlock[data-mobile="true"] a:not(:first-child) {
  padding-top: 6px;
}
